.app-header {
  background-color: #0d3bc3;
  color: #fafafa;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.app-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container .languages {
  margin-left: 1rem;
  font-size: 1em;
  background-color: #0d3bc3;
  border: none;
  outline: none;
  color: #fafafa;
  height: 100%;
}

.main-nav a {
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  font-size: 1em;
  padding: 0 1rem;
  line-height: 45px;
  position: relative;
}

.main-nav a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: transparent;
  transition: background 0.2s;
}

.main-nav a:hover::after {
  background: #edb624;
}

.user-section {
  display: flex;
  align-items: center;
}

.user-name {
  padding-right: 1rem;
  color: #fafafa;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}
